<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">
            <p>Type Username:</p>
            <input type="text" name="username" id="username_input" required maxlength="50">
        </label>
        <label for="">
            <p>Type Password:</p>
            <input type="password" name="pwd" id="pwd_input" minlength="8" maxlength="128">
        </label>
    </form>

    <p>No account yet? <a href="/signup">Sign up!</a></p>
</body>
</html>