<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <form action="" method="POST">
        <label>
            <p>Choose Username:</p>
            <input type="text" name="username" maxlength="50" required>
        </label>
        <label>
            <p>Choose Password:</p>
            <input type="password" name="password" minlength="8" maxlength="128"required>
        </label>
        <button type="submit">Signup</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
